
<!-- lab1
Component: component1,component2,component3,component4 -->
<div class="grid-container">
<div class="grid-row">
  <app-component1 class="grid-item"></app-component1>
  <app-component2 class="grid-item"></app-component2>
  </div>
  <div class="grid-row">
    <app-component3 class="grid-item"></app-component3>
    <app-component4 class="grid-item"></app-component4>
    </div>
    </div>
  <br>



  <!-- lab6 
  component:home,about,contact-->
  <h1><a routerLink="/home">Home</a></h1>
  <h1><a routerLink="/about">About</a></h1>
  <h1><a routerLink="/contact">Contact</a></h1>
  <router-outlet></router-outlet>
  <br>



  <!-- lab2
  component:child -->
  <!-- <app-child [childInput]="parentvalue"></app-child> -->
  <app-child [childInput]="parentvalue" (sendValue)="getValuesfromChild($event)"></app-child>
  <p>{{Name}}</p>
  <br>



  <!-- lab3 
  directive:font-size
  component:child-font-->
  <input type="text" id="font-size" name="font-size" placeholder="Enter the font size" #fontsize>
  <button (click)= sendFontSize(fontsize.value)>submit</button>
  <app-child-font [fsize]="size"></app-child-font>
  <br>



  <!-- lab4 
  pipe:character-->
  <p>Enter a text:</p>
  <input type="text" #strvalue>
  <button (click)="getString(strvalue.value)">Get first two character</button>
  <h3 style="color: blueviolet;">First two character of the string are -- {{str|character}}</h3>
  <br>


  <!-- lab5 -->
  <form [formGroup]="formName">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name">
    
    <label>Age</label>
    <input type="text" formControlName="age">

    <label>Email</label>
    <input type="text" formControlName="email">

    <label>Phone Number</label>
    <input type="text" formControlName="phone">
  </div>
  <p *ngIf="!formName.valid" class="error">Complete the form to enable Button</p>
  <button type="submit" [disabled]="!formName.valid">Validate</button>
  <div>FormStatus:{{formName.status}}</div>
</form>
<br>

<!-- lab7
component:number-list -->
<app-number-list></app-number-list>
<br>


<!-- lab8 -->
<div class="container">
  <button (click)="fetchData()">Fetch Data</button>
  <div class="user-info" *ngIf="userData">
    <img src="{{userData.picture.large}}" alt="user photo">
    <p>Name:{{userData.name.title}} {{userData.name.first}} {{userData.name.last}}</p>
    <p>Age:{{userData.registered.age}}</p>
    <p>Email:{{userData.email}}</p>
    <p>Phone:{{userData.phone}}</p>
  </div>
</div>
<br><br>

<!-- Create a angular project and server project inside a folder Angular_project 
open 3 terminal: 1.angular-ng serve
                2.angular-component creation
              3.node
  cd to node_server----run npm init----later npm install express--(if needed npm install cors)--run node server.js--->

<!-- lab9 
component: data
js:server.js-->
<app-data></app-data>

<!-- lab10 
component:data2
js:app.js-->
<app-data2></app-data2>